{% extends "base.html" %}

{% block script %}
<style type="text/css">

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.table tr td{
    vertical-align: middle;
    font-size: 12px;
    height: 7em;
}

.table tr th{
    vertical-align: middle;
    font-size: 13px;
}
 img:hover{
     transform:scale(3,3);
     z-index:auto  ;
 }
</style>

<script type="text/javascript">
function hidesmiles() {
    $('tr').find('th:eq(2)').hide();
    $('tr').find('td:eq(2)').hide();
    $('#showsmiles').show();
    $('#hidesmiles').hide();
}
function showsmiles() {
    $('tr').find('th:eq(2)').show();
    $('tr').find('td:eq(2)').show();
    $('#hidesmiles').show();
    $('#showsmiles').hide();
}
function alertsmiles(){
    var tdSeq = $(this).parent().find("td").index($(this)[0]);
    var trSeq = $(this).parent().parent().find("tr").index($(this).parent()[0]);

}

window.onload = function(){
    var table1 = document.getElementById('table1')
    var rows = table1.rows;
    for (var i = 1; i< rows.length;i++) {
        rows[i].onmouseover = function(){
            $(this).find("#action_ico").show()
        }
        rows[i].onmouseout = function(){
            $(this).find("#action_ico").hide()
        }
    }
}
</script>
{% endblock %}



{% block mainbody %}

<div class = "container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><i>Register</i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/index/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/compoundlist">Compound List <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">Search</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Setting
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/custome_fields/">Configuration</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{ user_info.avatar_file_path }}"  style="wdith:2rem;height:2rem;border-radius: 50%;border:1px solid #cccccc">
            {{ username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/logout">Logout</a>
          <a class="dropdown-item" href="/profile/">User Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
</ul>
  </div>
</nav>

<table class="table text-center table-hover table-sm"  id="table1">
<thead>
<tr>
    <th class="col-2">Structure</th>
    <th>Cmp.ID</th>
    <th id="smiles_title" style="display: none">Smiles</th>
    <th>Project</th>
    <th>Registrar</th>
    <th>Supplier</th>
    <th>Weight</th>
    <th>Unit</th>
    <th class="col-2">Supplier Ref.</th>
    <th class="col-2">Reg. Time</th>
    <th>Salt</th>
    <th>Stoich</th>
    <th>Appearance</th>
    <th>Location</th>
    <th>Chiral</th>
    <th>MW</th>
    <th>TPSA</th>
    <th>LogP</th>
    <th>Comments</th>
    <th>&nbsp&nbsp&nbsp&nbsp&nbsp;</th>
</tr>
</thead>
<tbody>
     {%for item in sublist %}
	<tr>
            <td class="col-2"><img src="{{item.compound.img_file}}" style="width: 80%;"></td>
		    <td>{{item.compound_id}}</td>
            <td id="smiles_domain" style="display: none">{{item.smiles}}</td>
            <td>{{item.project}}</td>
            <td>{{item.registrar}}</td>
            <td>{{item.from_supplier}}</td>
            <td>{{item.weight}}</td>
            <td>{{item.weight_unit}}</td>
            <td>{{item.supplier_ref}}</td>
            <td>{{item.registration_time}}</td>
            <td>{{item.salt}}</td>
            <td>{{item.stoich}}</td>
            <td>{{item.appearance}}</td>
            <td>{{item.location}}</td>
            <td>{{item.chiral}}</td>
            <td>{{item.compound.MW}}</td>
            <td>{{item.compound.TPSA}}</td>
            <td>{{item.compound.xlogp}}</td>
            <td>{{item.comments}}</td>
            <td class="text-center" id="action_ico" style="display: none">
                <a href="/edit_compound/?edit_compound_id={{item.compound_id}}" title="Edit" methods="GET">
                   <i class="fa fa-edit"></i>
                </a>
                <a href="/delete_compound/?delete_compound_id={{item.compound_id}}" title="Delete" methods="GET">
                    <i class="fa fa-trash-o"></i>
                </a>
                <br>
                <a href="{{ item.compound.mol_file_path }}" title="Download Mol" methods="GET">
                    <i class="fa fa-download"></i>
                </a>
                <a href='' style="cursor: pointer" onclick = alert('{{ item.compound.smiles }}') title="Smiles" methods="GET">
                    <i class="fa fa-clone"></i>
                </a>
            </td>
	</tr>
     {% endfor %}
</tbody>
</table>
  <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if sublist.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ sublist.previous_page_number }}" tabindex="-1">Previous</a>
        </li>
        {% endif %}
            <li class="page-item">
        <a class="page-link" href="#">Page {{ sublist.number }} of {{ sublist.paginator.num_pages }}</a>
{#        Page {{ sublist.number }} of {{ sublist.paginator.num_pages }}#}
        </li>
        {% if sublist.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ sublist.next_page_number }}">Next</a>
        </li>
        {% endif %}
      </ul>
</nav>
</div>
{% endblock %}