{% extends "base.html" %}

{% block script %}
<script type="text/javascript">
    function getifKetcher(ifKetcher){
	var ketcherFrame = document.getElementById('ifKetcher');
	var ketcher = null;
	if ('contentDocument' in ketcherFrame)
		ketcher = ketcherFrame.contentWindow.ketcher;
	else // IE7
		ketcher = document.frames['ifKetcher'].window.ketcher;
	//window.console.info(ketcher.getSmiles());
	ketcher.getSmiles(true).then((result) => {
        //alert(result);
		document.getElementById('update_edit_smiles').value = result;
		if (result.length == 0)
		    alert('没有获取到化合物结构，请重新输入! ')
        else
		    //window.console.info(document.getElementById('update_edit_smiles').value )
		    document.getElementById('submit_update_smiles').submit();
      })
		}
</script>
{% endblock %}



{% block mainbody %}
<div class="container">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><i>Register</i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/index/">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/compoundlist">Compound List<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">Search</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Setting
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/custome_fields/">Configuration</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{ user_info.avatar_file_path }}"  style="wdith:2rem;height:2rem;border-radius: 50%;border:1px solid #cccccc">
            {{ username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/logout">Logout</a>
          <a class="dropdown-item" href="/profile/">User Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
</ul>
  </div>
</nav>
<div class="row mt-3">
    <div class="col-lg-6 col-lg-offset-3"  >
        <iframe id="ifKetcher" src="/static/ketcher/index.html?moll={{ origin_smiles }}&hiddenControls=help,about" width="650" height="480"
                 style="border: none;-ms-zoom: 0.85;
                -moz-transform: scale(0.85);
                -moz-transform-origin: 0 0;
                -o-transform: scale(0.85);
                -o-transform-origin: 0 0;
                -webkit-transform: scale(0.85);
                -webkit-transform-origin: 0 0; ">
        </iframe>
        <div class="form-group input-group" style="float: none;display: inline-block;vertical-align: middle">
                <form class="search-form" id ='submit_update_smiles' action = '/edit_compound/' method = 'post' >
                    {% csrf_token %}
                    <input type="text" name='edit_compound_id' id ='edit_compound_id' style="display: none" value="{{ edit_compound_id }}">
                    <input type="text" name='update_edit_smiles' id ='update_edit_smiles' style="display: none">
                    <button onclick="getifKetcher('ifKetcher');" type="button" class="btn btn-success btn-lg btn-block">Update molecule</button>
                </form>
        </div>
    </div>
    </div>
</div>
{% endblock %}