{%extends "base.html" %}

{% block script %}
<script type="text/javascript">
function getifKetcher(ifKetcher){
	var ketcherFrame = document.getElementById('ifKetcher');
	var ketcher = null;
	if ('contentDocument' in ketcherFrame)
		ketcher = ketcherFrame.contentWindow.ketcher;
	else // IE7
		ketcher = document.frames['ifKetcher'].window.ketcher;
	//window.console.info(ketcher.getSmiles());
	ketcher.getSmiles(true).then((result) => {
        //alert(result);
		document.getElementById('getsmiles').value = result;
		if (result.length == 0)
		    alert('没有获取到化合物结构，请重新输入! ')
        else
		    //window.console.info(document.getElementById('getsmiles').value )
		    document.getElementById('submitsmiles').submit();
      })
		}


function getifKetcher_search(ifKetcher){
	var ketcherFrame = document.getElementById('ifKetcher');
	var ketcher = null;
	if ('contentDocument' in ketcherFrame)
		ketcher = ketcherFrame.contentWindow.ketcher;
	else // IE7
		ketcher = document.frames['ifKetcher'].window.ketcher;
	//window.console.info(ketcher.getSmiles());
	ketcher.getSmiles(true).then((result) => {
        //alert(result);
		document.getElementById('getsearchsmiles').value = result;
        window.console.info(document.getElementById('getsearchsmiles').value )
        document.getElementById('searchsmiles').submit();
      })
		}


function loadFile(file){
    $("#filename").html(file.name);
}

function hideupload() {
    $('#uploadfile').show();
}

</script>
<style type="text/css">
.breadcrumb > li + li:before {
    color: #cccccc;
    content: ">";
    padding: 0 5px;
    background-color: #fff;
}
.breada {
    color:#0b2e13;
    text-decoration: none;
;
}

.breadcrumb {
    background-color: #fff;
}
</style>
{% endblock %}


{% block mainbody %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href=""><i>Register</i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/compoundlist">Compounds</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reagentlist">Reagents</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saltlist">Salts</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Setting
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/custome_fields/">Configuration</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{ user_info.avatar_file_path }}"  style="wdith:2rem;height:2rem;border-radius: 50%;border:1px solid #cccccc">
            Welcome, {{ username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/profile/">User Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
</ul>
</div>
</nav>
<nav aria-label="breadcrumb" class="offset-1 mt-3">
  <ol class="breadcrumb">
    <li><a style="text-decoration: none" class='breada' href="/index/">Home</a></li>
    <li><a style="text-decoration: none" class='breada' href="">Register</a></li>
  </ol>
</nav>

<div class="row mt-3">
    <div class="col-lg-5 offset-1">
            <iframe id="ifKetcher" src="/static/ketcher/index.html?hiddenControls=help,about" width="720" height="560"
            style="border: none;-ms-zoom: 0.85;
                -moz-transform: scale(0.85);
                -moz-transform-origin: 0 0;
                -o-transform: scale(0.85);
                -o-transform-origin: 0 0;
                -webkit-transform: scale(0.85);
                -webkit-transform-origin: 0 0; ">

            </iframe>
    </div>
    <div class="col-lg-5 col-lg-offset-6">
            <!-- 自定义表单组合-自定义选择（下拉框） -->
        <form class="search-form"  id ='submitsmiles' action = '/registration/' method = 'post'>
                    {% csrf_token %}
                <div class="form-group input-group">
                    <input type="text" name='getsmiles' id ='getsmiles' style="display: none">
{##}
{#                    <div class="input-group-prepend">#}
{#                        <span class="input-group-text" id="inputGroup-sizing-default">Registrar</span>#}
{#                    </div>#}
{#                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="{{ username }}" readonly="true">#}

                    <div class="input-group-prepend">
                        <button class="btn btn-light" disabled>Registrar</button>
    {#                    <label for="select1" class="input-group-text">Project</label>#}
                         <select name="registrar" class="selectpicker" data-width="10em">
                            <option value="{{ username }}" selected>{{ username }}</option>
                         </select>
                    </div>


                    <div class="input-group-prepend pl-2">
                        <button class="btn btn-light" disabled>Project</button>
    {#                    <label for="select1" class="input-group-text">Project</label>#}
                        <select name='project' class="selectpicker show-tick" data-live-search ="true" data-width="15.5em">
                        <option value="" disabled selected>Choose:</option>
                        {%for item in project %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-light" disabled>Supplier</button>
                        <select name='from_supplier' class="selectpicker show-tick" data-live-search ="true" data-width="auto">
                            <option value="" disabled selected>Choose:</option>
                            {%for item in from_supplier %}
                                <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group-prepend pl-1">
                        <button class="btn btn-light" disabled>Weight</button>
                    </div>
                    <input name='weight' value=0 type="number" class="form-control" style="border: 1px solid #f8f9fa">
                    <select name="weight_unit" class="selectpicker show-tick" data-live-search ="true" data-width="fit">
                           {%for item in weight_unit %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-light" disabled>Supplier Reference</button>
                    </div>
                    <input name='supplier_ref' type="text" class="form-control" style="border: 2px solid #f8f9fa">
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-light" disabled>Registration Time</button>
                    </div>
                    <select name='registration_time' class="selectpicker" data-width="auto">
                        <option value="{{ registration_time }}" selected>{{ registration_time }}</option>
                    </select>

                    <div class="input-group-prepend ml-1">
                        <button class="btn btn-light" disabled>Location</button>
                    <select name='location' class="selectpicker show-tick" data-live-search ="true" data-width="10em">
                        <option value="" disabled selected>Choose:</option>
                        {%for item in location %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-light" disabled>Appearance</button>

                    <select name='appearance' class="selectpicker show-tick" data-live-search ="true" data-width="7.5em">
                        <option value="" disabled selected>Choose:</option>
                        {%for item in appearance %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                    </div>

                    <div class="input-group-prepend ml-1">
                        <button class="btn btn-light" disabled>Stoich</button>
                    <select name='stoich' class="selectpicker show-tick" data-live-search ="true" data-width="6em">
                        <option value="0.0" disabled selected>Choose:</option>
                        {%for item in stoich %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                    </div>

                    <div class="input-group-prepend ml-1">
                        <button class="btn btn-light" disabled>Chiral</button>
                        <select name='chiral' class="selectpicker show-tick" data-live-search ="true" data-width="6em">
                            <option value="" disabled selected>Choose:</option>
                            {%for item in chiral %}
                                <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-light" disabled>Salt</button>
                    </div>
                    <select name='salt' class="selectpicker show-tick" data-live-search ="true" data-width="fit">
                        <option value="" disabled selected>Choose:</option>
                        {%for item in salt %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select>

                </div>
                <div class="form-group input-group">
                    <textarea name='comments' class="form-control" rows="2" placeholder="Comments" style="border: 2px solid #f8f9fa"></textarea>
                </div>
                <div class="text-right">
                    <button onclick="getifKetcher('ifKetcher');" type="button" class="btn">Pre-register</button>
                </div>
        </form>

        <div class="text-right">
            <a style="cursor: pointer;color: dodgerblue" onclick="hideupload()">or, bulk upload?</a>
        </div>
        <div class="form-group input-group" id = 'uploadfile' style="display: none">
            <div class="custom-file">
                <form  id = 'uploadfile-1' accept-charset="UTF-8" enctype="multipart/form-data" action = '/upload/' method = 'post'>
                    {% csrf_token %}
                    <input type="file" onchange="loadFile(this.files[0])" class="custom-file-input" name="file-uploader" id="file-uploader">
                    <label id = "filename" class="custom-file-label" for="file-uploader">Choose file</label>
                </form>
            </div>
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" onclick="document.getElementById('uploadfile-1').submit()">Upload</button>
            </div>
        </div>
        </div>
    </div>

{% endblock %}