{% extends "base.html" %}

{% block script %}
<style type="text/css">
.table tr td{
    vertical-align: middle;
    font-size: 12px;
}

.table tr th{
    vertical-align: middle;
    font-size: 13px;
}
</style>
{% endblock %}



{% block mainbody %}

<div class="container">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><i>Register</i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/index/">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/compoundlist">Compound List<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">Search</a>
      </li>
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Setting
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/custome_fields/">Configuration</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{ user_info.avatar_file_path }}"  style="wdith:2rem;height:2rem;border-radius: 50%;border:1px solid #cccccc">
            {{ username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/logout">Logout</a>
          <a class="dropdown-item" href="/profile/">User Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
</ul>
  </div>
</nav>
<div class = "container">
<table class="table text-center table-hover table-sm" >
<thead>
<tr>
    <th class="col-2">Structure</th>
    <th class="col-2">Compound ID</th>
    <th id="smiles_title" style="display: none">Smiles</th>
    <th>Project</th>
    <th>Registrar</th>
    <th>Supplier</th>
    <th>Weight</th>
    <th>Unit</th>
    <th class="col-2">Supplier Ref.</th>
    <th class="col-2">Reg. Time</th>
    <th>Salt</th>
    <th>Stoich</th>
    <th>Appearance</th>
    <th>Location</th>
    <th>Chiral</th>
    <th>MW</th>
    <th>TPSA</th>
    <th>LogP</th>
    <th>Comments</th>
</tr>
</thead>
<tbody>
<tr>
    <td class="col-2"><img src="{{img_path}}" style="width: 80%;"></td>
    <td>{{compound_id}}</td>
    <td style="display: none">{{smiles}}</td>
    <td>{{project}}</td>
    <td>{{username}}</td>
    <td>{{from_supplier}}</td>
    <td>{{weight}}</td>
    <td>{{weight_unit}}</td>
    <td>{{supplier_ref}}</td>
    <td>{{registration_time}}</td>
    <td>{{salt}}</td>
    <td>{{stoich}}</td>
    <td>{{appearance}}</td>
    <td>{{location}}</td>
    <td>{{chiral}}</td>
    <td>{{mw}}</td>
    <td>{{tpsa}}</td>
    <td>{{logp}}</td>
    <td>{{comments}}</td>
</tr>
</table>
<form action="/reg_result/" method="post" style="text-align: center">
    {% csrf_token %}
	<input name='img_path' value="{{img_path}}" style="display: none">
	<input name='compound_id' value="{{compound_id}}" style="display: none">
    <input name='project' value="{{project}}" style="display: none">
    <input name='registrar' value="{{registrar}}" style="display: none">
    <input name='from_supplier' value="{{from_supplier}}" style="display: none">
    <input name='weight' value="{{weight}}" style="display: none">
    <input name='weight_unit' value="{{weight_unit}}" style="display: none">
    <input name='supplier_ref' value="{{supplier_ref}}" style="display: none">
    <input name='registration_time' value="{{registration_time}}" style="display: none">
    <input name='salt' value="{{salt}}" style="display: none">
    <input name='stoich' value="{{stoich}}" style="display: none">
    <input name='appearance' value="{{appearance}}" style="display: none">
    <input name='location' value="{{location}}" style="display: none">
    <input name='chiral' value="{{chiral}}" style="display: none">
    <input name='smiles' value="{{smiles}}" style="display: none">
    <input name='mw' value="{{mw}}" style="display: none">
    <input name='tpsa' value="{{tpsa}}" style="display: none">
    <input name='logp' value="{{logp}}" style="display: none">
    <input name='comments' value="{{comments}}" style="display: none">
	<button class="btn btn-success" type="submit">Confirm</button>
</form>
</div>
</div>
{% endblock %}