{% extends "base.html" %}

{% block script %}
<script type="text/javascript">
function getifKetcher(ifKetcher){
	var ketcherFrame = document.getElementById('ifKetcher');
	var ketcher = null;
	if ('contentDocument' in ketcherFrame)
		ketcher = ketcherFrame.contentWindow.ketcher;
	else // IE7
		ketcher = document.frames['ifKetcher'].window.ketcher;
	//window.console.info(ketcher.getSmiles());
	ketcher.getSmiles(true).then((result) => {
        //alert(result);
		document.getElementById('getsmiles').value = result;
		if (result.length == 0)
		    alert('没有获取到化合物结构，请重新输入! ')
        else
		    window.console.info(document.getElementById('getsmiles').value )
		    document.getElementById('submitsmiles').submit();
      })
		}


function getifKetcher_search(ifKetcher){
	var ketcherFrame = document.getElementById('ifKetcher');
	var ketcher = null;
	if ('contentDocument' in ketcherFrame)
		ketcher = ketcherFrame.contentWindow.ketcher;
	else // IE7
		ketcher = document.frames['ifKetcher'].window.ketcher;
	//window.console.info(ketcher.getSmiles());
	ketcher.getSmiles(true).then((result) => {
        //alert(result);
		document.getElementById('getsearchsmiles').value = result;
        window.console.info(document.getElementById('getsearchsmiles').value )
        document.getElementById('searchsmiles').submit();
      })
		}


function loadFile(file){
    $("#filename").html(file.name);
}




function autopopulate() {
    var property_name=$("#property_name").val();
    if(property_name == 'Similarity') {
       // $("#property_value").val(0.8)
        document.getElementById('similarity').value=0.8;
        $("#property_qualifier").hide()
        $("#ifKetcher").show()
    }
    if(property_name != 'Similarity'){
       document.getElementById('property_value').value='';
       $("#property_qualifier").show()
       $("#property_qualifier").css('display','inline')
       $("#ifKetcher").hide()
       $("#submitsmiles").hide()
    }
    if(property_name == 'Compound ID'){
       $("#qualifier_like").css('display','inline')
    }
    if(property_name != 'Compound ID'){
       $("#qualifier_like").css('display','none')
    }
}
</script>

{% endblock %}


{% block mainbody %}

<div class="container">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><i>Register</i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/index/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/compoundlist">Compound List</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/search">Search<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Setting
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/custome_fields/">Configuration</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{ user_info.avatar_file_path }}"  style="wdith:2rem;height:2rem;border-radius: 50%;border:1px solid #cccccc">
            {{ username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/logout">Logout</a>
          <a class="dropdown-item" href="/profile/">User Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
</ul>
  </div>
</nav>
<div class="row mt-3">
    <div class="col-lg-6">
            <iframe id="ifKetcher" src="/static/ketcher/index.html?hiddenControls=help,about" width="650" height="480"
            style="border: none;-ms-zoom: 0.85;
                -moz-transform: scale(0.85);
                -moz-transform-origin: 0 0;
                -o-transform: scale(0.85);
                -o-transform-origin: 0 0;
                -webkit-transform: scale(0.85);
                -webkit-transform-origin: 0 0; ">

            </iframe>
    </div>
    <div class="col-lg-6 col-lg-offset-6">
        <div class="form-group input-group">
                <form class="search-form" id ='searchsmiles' action = '/search_result/' method = 'post' >
                    {% csrf_token %}
                    <input type="text" name='getsearchsmiles' id ='getsearchsmiles' style="display: none">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <label for="select1" class="input-group-text">Project</label>
                        </div>
                        <select class="custom-select" id="select1">
                            <option value="">Project A</option>
                            <option value="">Project B</option>
                            <option value="">Project C</option>
                            <option value="">Project D</option>
                        </select>
                        <div class="input-group-prepend pl-2">
                            <span class="input-group-text">Registrar</span>
                        </div>
                        <input type="text" class="form-control" value="{{ username }}">
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Supplier</span>
                        </div>
                        <select class="custom-select">
                            <option value="">WUXI</option>
                            <option value="">Pharmaron</option>
                            <option value="">Other</option>
                            <option value="">Register</option>
                        </select>
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Registration Time</span>
                        </div>
                        <input type="date" class="form-control">
                    </div>

                     <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <a href="#" class="btn btn-outline-secondary disabled" role="button" aria-disabled="true">Compound ID</a>
                        </div>
                        <input name='compound_id' type="text" placeholder="*like*" class="form-control">
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <a href="#" class="btn btn-outline-secondary disabled" role="button" aria-disabled="true">Similarity</a>
                        </div>
                        <input name = 'similarity' value="0.8" type="value" class="form-control">
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <a href="#" class="btn btn-outline-secondary disabled" role="button" aria-disabled="true">MW</a>
                        </div>
                        <select class="custom-select" name="mw_qualifier">
                            <option value="="> = </option>
                            <option value="<"> < </option>
                            <option value=">"> > </option>
                        </select>
                        <input name = 'mw_value' type="value" class="form-control">
                        <div class="input-group-prepend ml-2" >
                            <a href="#" class="btn btn-outline-secondary disabled" role="button" aria-disabled="true">TPSA</a>
                        </div>
                        <select class="custom-select" ame="tpsa_qualifier">
                            <option value="="> = </option>
                            <option value="<"> < </option>
                            <option value=">"> > </option>
                        </select>
                        <input type="text" class="form-control">
                        <div class="input-group-prepend ml-2">
                            <a href="#" class="btn btn-outline-secondary disabled" role="button" aria-disabled="true">LogP</a>
                        </div>
                        <select class="custom-select" name="logp_qualifier">
                            <option value="="> = </option>
                            <option value="<"> < </option>
                            <option value=">"> > </option>
                        </select>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <a href="#" class="btn btn-outline-secondary disabled" role="button" aria-disabled="true">Salt</a>
                        </div>
                        <select class="custom-select">
                            <option value="">Sodium</option>
                            <option value="">Citrate</option>
                            <option value="">Other</option>
                        </select>
                        <div class="input-group-prepend">
                            <a href="#" class="btn btn-outline-secondary disabled" role="button" aria-disabled="true">Stoich</a>
                        </div>
                        <select class="custom-select">
                            <option value="">1.0</option>
                            <option value="">2.0</option>
                            <option value="">3.0</option>
                            <option value="">4.0</option>
                            <option value="">5.0</option>
                        </select>
                    </div>
                    <div class="form-group input-group">
                        <textarea class="form-control" rows="2" placeholder="Comments"></textarea>
                    </div>
{#                    <a href='#' onclick="getifKetcher_search('ifKetcher');" style="float: right">Search</a>#}
                    <button onclick="getifKetcher_search('ifKetcher');" type="button" class="btn btn-primary btn-lg btn-block">Search</button>
                </form>
        </div>


    </div>
    </div>
</div>
{% endblock %}